<app-public-menu></app-public-menu>

<div class = "title">Login</div>

<div class="form-container">
  <form #userLogin = "ngForm" (ngSubmit) = "onSubmit(userLogin)" >
    <label>
      Email
      <br/>
      <input type = "email" name = "email" id="email" placeholder = "email@gmail.com" ngModel required>
    </label>
    <br/>
    <label>
      Password
      <br/>
      <span class="pass-container">
      <input class="pass" [type]="showPassword ? 'text' : 'password'" name = "password" id="password" placeholder = "pass55" ngModel required>
      <i-bs name="eye-fill" *ngIf="showPassword == false" (click)="changePasswordVisibility()"></i-bs>
      <i-bs name="eye-slash-fill" *ngIf="showPassword == true" (click)="changePasswordVisibility()"></i-bs>
      </span>
    </label>
    <div *ngIf="incorrectLogin" class="validationMessage">
      Email or password is incorrect
    </div>
    <br/>
    <button type="submit" class="submitButton">Login</button>
  </form>
</div>

<div class = "notAccount-container" >
  <a routerLink="">Don't have an account yet?  Sign Up.</a>
  <br/>
  <a routerLink="/forgot">Forgot Password?</a>
</div>
