<app-public-menu></app-public-menu>

<div class = "title">Recover password</div>

<div class="form-container">
  <form #userRecover = "ngForm" (ngSubmit) = "onSubmit(userRecover)" >
    <label>
      New password
      <br/>
      <span class="pass-container">
      <input class="pass" [type]="showPassword ? 'text' : 'password'" name = "password" id="password" placeholder = "pass55" ngModel required>
      <i-bs name="eye-fill" *ngIf="showPassword == false" (click)="changePasswordVisibility()"></i-bs>
      <i-bs name="eye-slash-fill" *ngIf="showPassword == true" (click)="changePasswordVisibility()"></i-bs>
      </span>
    </label>
    <div *ngIf="passwordLength" class="validationMessage">
      Password must be at least 5 characters long
    </div>
    <br/>
    <label>
      Confirm password
      <br/>
      <span class="pass-container">
      <input class="pass" [type]="showConfirmPassword ? 'text' : 'password'" name = "confirmPassword" id="confirmPassword" placeholder = "pass55" ngModel required>
      <i-bs name="eye-fill" *ngIf="showConfirmPassword == false" (click)="changeConfirmPassVisibility()"></i-bs>
      <i-bs name="eye-slash-fill" *ngIf="showConfirmPassword == true" (click)="changeConfirmPassVisibility()"></i-bs>
      </span>
    </label>
    <div *ngIf="notMatchPassword" class="validationMessage">
      Passwords doesn't match
    </div>
    <button type="submit" class="submitButton">Submit</button>
  </form>
</div>
