<app-public-menu></app-public-menu>

<div class = "title">Recover password</div>

<div class="form-container">
  <form #userRecover = "ngForm" (ngSubmit) = "onSubmit(userRecover)" >
    <label>
      Email
      <br/>
      <input type = "email" name = "email" placeholder = "email@gmail.com" ngModel required>
    </label>
    <div *ngIf="wrongEmailContent" class="validationMessage">
      Email is invalid
    </div>
    <div class="email-send-text" *ngIf="emailSend == true">An email has been sent to you. Follow the steps in the email to recover your password.</div>
    <button type="submit" class="submitButton" *ngIf="emailSend == false">Recover</button>
  </form>
</div>
