.task-list-name{
  font-size: larger;
  margin-right: 5%;
  margin-left: 5%;
}

.task-list-name-container{
  border-bottom: 2px solid black;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

.list-container{
  border: 5px outset grey;
  font-size: larger;
  font-weight: bold;
  margin: 3%;
  background-color: blanchedalmond;
}
