<app-public-menu></app-public-menu>

<div class="error404">
  <p class="title">ERROR 404. PAGE NOT FOUND. </p>
  <span id="error">
    <span>
      <p> Sorry, we can't find the page you're looking for. </p>
      <p> Possible reasons:</p>
      <ul id="reasons">
        <li>The searched page has been moved or deleted.</li>
        <li>The link you entered is an old one.</li>
        <li>The link you entered is not spelled correctly.</li>
      </ul>
      <p> To find valid pages, try using the site menu. </p>
    </span>
  </span>
</div>
