<div class="form-container">
  <div class = "create-edit-task-list-title">
    <span *ngIf="!isEditMode">Add new list</span>
    <span *ngIf="isEditMode">Rename list</span>
  </div>
  <form #createEditTaskListForm = "ngForm" (ngSubmit) = "onSubmit(createEditTaskListForm)" >
    <label>
      <input type = "text" name = "new" id="new" placeholder="List name" [ngModel]="taskList.name"   required>
    </label>
    <div *ngIf="emptyName" class="validationMessage">
      Name is empty
    </div>
    <br *ngIf="!emptyName"/>
    <button type="submit" class="submitButtonList">
      <span *ngIf="!isEditMode">Add new list</span>
      <span *ngIf="isEditMode">Rename list</span>
    </button>
    <button type="button" class="close-button" (click)="close()">Close</button>
  </form>
</div>
