<app-public-menu></app-public-menu>

<div class = "title">Check account</div>

<div class="where-token">An email with a token has been sent to the address: <i> {{user.email}} </i>. </div>

<div class="form-container">
  <form #userToken = "ngForm" (ngSubmit) = "onSubmit(userToken)" >
    <label>
      Token
      <br/>
      <input type = "text" name = "token" placeholder = "token" ngModel required>
    </label>
    <div *ngIf="invalidToken" class="validationMessage">
      Token invalid
    </div>
    <br/>
    <button type="submit" class="submitButton">Validate</button>
  </form>
</div>

<div class = "alreadyAccount-container" >
  <a class="alreadyAccount-link" routerLink="/login">Already have an account? Login.</a>
</div>
